@font-face {
    font-family: 'BebaxNeue';
    src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
    font-display: swap;
}