@use 'variables'as variables;

html {
    font-size: variables.$font-size;
    scroll-behavior: smooth;
}

body {
    font-family: variables.$font-primary;
    background-color: #080A0B;
    color: variables.$color;
}

section {
    scroll-margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: variables.$font-secondary;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
}

h1 {
    font-size: 80px;
    letter-spacing: 0.04em;
}

h2 {
    font-size: 36px;
    letter-spacing: 0.06em;
}

h3 {
    font-size: 24px;
    letter-spacing: 0.08em;
}

p {
    font-size: 18px;
    line-height: 1.22;
}

input {
    padding: 27px 0 11px 20px;
    background: rgba(255, 255, 255, 0.08);
    border: none;
    outline: none;
    border-radius: 5px;
    color: variables.$primary-color;
    flex: 1;
}

label {
    position: absolute;
    font-size: 14px;
    opacity: 0.5;
    padding: 6px 0 0 20px;
}

.bg-screen {
    width: 100%;
    height: 100vh;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 30%;
        pointer-events: none;
    }

    &::before {
        top: 0;
        background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
    }

    &::after {
        bottom: 0;
        background: linear-gradient(to top, rgb(0, 0, 0), transparent);
    }
}

.container {
    position: relative;
    z-index: 10;
}

.btn-primary {
    display: inline-block;
    font-size: 16px;
    color: variables.$color-accent;
    text-decoration: none;
    font-weight: 700;
    background: linear-gradient(181deg, #ffb548 0%, #f3af34 99.52%);
    padding: 17px 18px 20px;
    border-radius: 4px;
    text-align: center;

    &__line {
        display: inline-block;
        width: 2px;
        height: 24px;
        margin: 0 7px;
    }

    &.btn-md {
        padding: 17px 38px 20px 31px;
    }

    &.btn-lg {
        padding: 18px 73px 20px;
    }
}

.btn-primary:hover {
    background: #f6a937;
    color: variables.$color-accent;
}

.btn-check:checked+.btn-primary,
.btn-check:active+.btn-primary,
.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle .btn-check:focus+.btn-primary,
.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-check:active+.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    color: variables.$color-accent;
    box-shadow: 0 0 0 0.25rem #FFB54880;
    transition: 0.1s;
}

.icon-sprite_hidden {
    display: none;
}

.requirements__name,
.quotes__author-name {
    color: variables.$primary-color;
}