$font-primary: 'OpenSans';
$font-secondary: 'BebaxNeue';
$font-size: 16px;
$font-secondary-size: 14px;

$primary-color: #FFB548;
$secondary-color: #979797;
$bg-body: #080A0B;
$color-accent: #1A1917;
$color: #ffffff;