@media screen and (max-width: 991.98px) {

    .navbar {
        padding-top: 10px;

        &-nav {
            gap: 24px;
            text-align: center;
            transform: translateY(50%);

            .nav-link {
                font-size: 20px;
            }
        }
    }

    .navbar__social {
        display: none;
    }

    .navbar__line {
        opacity: 1;
    }

    .nav-item {
        background-color: #00000038;
        border-radius: 4px;
    }
}