@media screen and (max-width: 991.98px) {
    .navbar {
        padding-top: 10px;

        &-nav {
            gap: 24px;
            text-align: center;
            transform: translateY(50%);
            max-width: calc(100% - 96px);

            .nav-link {
                font-size: 20px;
            }
        }
    }

    .navbar__social {
        display: none;
    }

    .navbar__line {
        opacity: 1;
    }

    .nav-item {
        background-color: #00000054;
        border-radius: 4px;
    }

    .banner {
        background-position: 45% center;

        &::before {
            content: none;
        }

        &.active::before {
            content: "";
            position: absolute;
            background-color: #00000082;
            backdrop-filter: blur(5px);
            inset: 0;
        }
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .about {
        .container {
            flex-direction: column;
            gap: 50px;
        }
    }

    .about__content {
        align-items: start;

        p {
            font-size: 14px;
            line-height: 114%;
        }

        .about__subtitle {
            font-size: 18px;
            letter-spacing: 0.11em;
        }

        .about__title {
            font-size: 33px;
            letter-spacing: 0.09em;
            text-align: left;
            width: 100%;
            padding-right: 120px;

            &::after {
                width: 100%;
                margin-top: 30px;
            }
        }
    }
}