@use '../variables' as variables;
@media screen and (max-width: 991.98px) {
    h1 {
        font-size: 33px;
        letter-spacing: 0.09em;
    }

    h2 {
        font-size: 21px;
        letter-spacing: 0.1em;
    }

    h3 {
        font-size: 18px;
        letter-spacing: 0.11em;
    }

    input {
        padding: 16px 17px 7px;
        font-size: variables.$font-secondary-size;
    }

    label {
        padding: 3px 0 0 17px;
        font-size: 12px;
    }

    header {
        .nav-item {
            background-color: #00000054;
            border-radius: 4px;
        }
    }

    .navbar {
        padding-top: 10px;

        &-nav {
            gap: 24px;
            text-align: center;
            transform: translateY(50%);
            max-width: calc(100% - 96px);

            .nav-link {
                font-size: 20px;
            }
        }
    }

    .navbar__social {
        display: none;
    }

    .navbar__line {
        opacity: 1;
    }

    .container {
        &:not(.banner) {
            position: static;
        }
    }

    .banner {
        background-position: 45% center;

        &::before {
            content: none;
        }

        &.active::before {
            content: "";
            position: absolute;
            background: #00000082;
            backdrop-filter: blur(5px);
            inset: 0;
            height: 100%;
        }
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .about {
        .container {
            flex-direction: column;
            gap: 50px;
        }
    }

    .about__content {
        align-items: start;
        z-index: 1;

        p {
            font-size: variables.$font-secondary-size;
            line-height: 114%;
        }

        .about__title {
            text-align: left;
            width: 100%;
            padding-right: 120px;

            &::after {
                width: 100%;
                margin-top: 30px;
            }
        }
    }

    .accordion-body {
        font-size: variables.$font-secondary-size;
        line-height: 1.14;
    }

    .accordion-button {
        &:not(.collapsed)::after {
            top: 8px;
        }
    }

    .features {
        .container {
            max-width: 320px;
        }
    }

    .features__content {
        margin-bottom: 20px;
    }

    .accordion {
        padding-left: 0;
    }

    .accordion-button {
        &::before {
            left: -19px;
        }

        &:not(.collapsed)::after {
            left: -14px;
        }
    }

    .accordion-item {
        margin-bottom: 43px;
    }

    .quotes {
        .container {
            flex-direction: column;
            gap: 30px;
        }
    }

    .quotes__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quotes__cards-list {
        gap: 20px;
    }

    .quotes__card {
        padding: 10px 17px 15px;
    }

    .quotes__avatar {
        img {
            width: 40px;
            height: 40px;
        }

        &::after {
            width: 40px;
            height: 40px;
            right: -4px;
            top: 4px;
        }
    }

    .quotes__author-info {
        margin-bottom: 18px;
    }

    .quotes__author-name {
        font-size: 21px;
        margin-bottom: 5px;
    }

    .quotes__author-role,
    .quotes__author-text {
        font-size: variables.$font-secondary-size;
    }

    .quotes__author-text {
        margin-bottom: 14px;
    }

    .quotes__description {
        font-size: variables.$font-size;
        text-align: justify;
    }

    .quotes__title,
    .quotes__description {
        margin-bottom: 30px;
    }

    .newsletter {
        align-items: center;

        .container {
            gap: 0;
        }
    }

    .newsletter__item {
        margin-left: -40px;
    }

    .newsletter__title {
        margin-bottom: 24px;
    }

    .newsletter__description {
        margin-bottom: 32px;
    }

    .newsletter__input-box {
        gap: 19px;
    }

    .footer {
        .footer__wrap {
            flex-direction: column;
            align-items: center;
            gap: 42px;
        }
    }

    .footer__nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4px 0;
    }

    .footer__social {
        margin-top: -9px;
    }

    .footer__info {
        flex-direction: column;
        gap: 35px;
        align-items: center;
    }

    .footer__legal {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
}