@media screen and (max-width: 1199.98px) {
    .about {
        .container {
            justify-content: center;
        }
    }

    .about__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin-left: 0;
        }

        .about__title {
            text-align: center;
            max-width: 400px;

            &::after {
                width: 100%;
                margin-top: 20px;
            }
        }
    }

    .about__swiper {
        padding-right: 40px;
    }

    .swiper {
        width: 332px;
        height: 406px;
    }

    .swiper-horizontal.swiper-rtl .swiper-button-prev,
    .swiper-horizontal.swiper-rtl~.swiper-button-prev,
    .swiper-horizontal~.swiper-button-next,
    .swiper-horizontal .swiper-button-next {
        left: auto;
        right: -54px;
    }

    .features {
        .container {
            margin-right: 10px;
        }

        .accordion {
            max-width: 450px;
        }
    }

    .quotes {
        .quotes__card {
            margin-left: 0;
        }
    }
}