@use '../variables' as variables;
@media screen and (max-width: 575.98px) {
    .about {
        background: url("/img/bg-image-2-mobile.webp") center/cover no-repeat;
    }

    .about__content {
        p {
            max-width: 268px;
            margin-left: auto;
        }
    }

    .features {
        .container {
            max-width: 250px;
        }
    }

    .accordion-body {
        text-align: justify;
    }

    .accordion {
        .accordion-item:nth-child(2n) {
            .accordion-button:not(.collapsed)::after {
                height: calc(var(--distance) - 13px);
            }
        }
    }

    .accordion-button:not(.collapsed)::after {
        top: 20px;
    }

    .requirements {
        background: url("/img/bg-image-4-mobile.") center/cover no-repeat;
        align-items: flex-start;
        padding-top: 70px;
    }

    .requirements__name {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .requirements__description {
        font-size: variables.$font-secondary-size;
        margin-bottom: 0;
        line-height: 1.14;

        br {
            display: none;
        }
    }

    .newsletter {
        .container {
            position: relative;
            z-index: 15;
        }
    }

    .newsletter__input-box {
        position: absolute;
        left: 14px;
        width: calc(100% - 28px);
        max-width: none;
    }
}