<section id="about" class="bg-screen about">
    <div class="container">
        <div class="about__content">
            <h3 class="about__subtitle">What is SOS?</h3>
            <h1 class="about__title">social battle royale game</h1>
            <p>Each round, <b>you</b> and <b>15</b> other contestants compete to
                escape a deadly island filled with monsters. The trick is: <b>three</b> people can survive. Will you run
                solo or form friendships with others to escape? </p>
            <p>Making the right decisions could be the
                difference between <span class="about__line-decoration">life and death.</span></p>
        </div>
        <div class="about__swiper">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/img/about-slide-1.webp" alt="about-slide-1">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/about-slide-2.webp" alt="about-slide-2">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/about-slide-3.webp" alt="about-slide-3">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/about-slide-4.webp" alt="about-slide-4">
                    </div>
                    <div class="swiper-slide">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>


