<section id="features" class="bg-screen features">
    <div class="container">
        <div class="features__content">
            <h3>What’s so special?</h3>
            <h1>features</h1>
        </div>

        <div class="features__accordion">
            <ul class="accordion" id="accordionExample">
                    <li class="accordion-item">
                        <div class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <h2>SURVIVE AT ALL COSTS</h2>
                            </button>
                        </div>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                You have 30 minutes to find a relic, signal for extraction, and grab
                                one of three spots on the rescue chopper.
                            </div>
                        </div>
                    </li>
                    <li class="accordion-item">
                        <div class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h2>CREATE ALLIES AND ENEMIES</h2>
                            </button>
                        </div>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Every decision you make determines who will have your back and who will betray you at
                                the crucial moment.
                            </div>
                        </div>
                    </li>
                    <li class="accordion-item">
                        <div class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h2>IMPRESS THE AUDIENCE</h2>
                            </button>
                        </div>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Your actions become legends - leave a mark on history that others will talk about.
                            </div>
                        </div>
                    </li>
            </ul>
        </div>
    </div>
</section>