<section class="bg-screen banner">
    {{> header}}
    <div class="container">
        <h1 class="banner__title">SURVIVE AT ALL COSTS</h1>
        <h3 class="banner__subtitle">Experience new social battle royale game</h3>
        <a href="#" class="btn-primary" target="_blank" rel="noopener noreferrer">
            <span>Buy Now on Steam</span>
            <svg class="btn-primary__line">
                <use href="#btn-line"></use>
            </svg>
            <span>$14.99</span>
        </a>
    </div>
    <a href="#about" class="banner__scroll">The story
        <svg class="banner__icon banner__icon_arrow-down" aria-label="Scroll to story section">
            <use href="#scroll-down"></use>
        </svg>
    </a>
</section>