<section class="banner">
    {{> header}}
    <div class="container">
        <h1 class="banner__title">SURVIVE AT ALL COSTS</h1>
        <h3 class="banner__subtitle">Experience new social battle royale game</h3>
        <a href="#" class="btn-primary">Buy Now on Steam <svg class="btn-primary__line">
                <use href="#btn-line"></use>
            </svg>
            $14.99
        </a>
    </div>

    <a href="#" class="banner__scroll">The story
        <svg class="banner__icon banner__icon_arrow-down">
            <use href="#scroll-down"></use>
        </svg>
    </a>
</section>
