<footer class="footer">
    <div class="container">
        <nav class="footer__wrap navbar navbar-expand-lg">
            <img src="/img/logo-mobile.svg" class="footer__logo" alt="logo" />
            <ul class="footer__nav w-100 mx-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">main</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">about</a>
                </li>
                <li class="nav-item">
                    <a href="#features" class="nav-link">game features</a>
                </li>
                <li class="nav-item">
                    <a href="#requirements" class="nav-link">System requirements</a>
                </li>
                <li class="nav-item">
                    <a href="#quotes" class="nav-link">quotes</a>
                </li>
            </ul>

            <div class="footer__social">
                <a href="#" class="footer__social-icon footer__social-icon_facebook"></a>
                <a href="#" class="footer__social-icon footer__social-icon_twitter"></a>
                <a href="#" class="footer__social-icon footer__social-icon_youtube"></a>
                <a href="#" class="footer__social-icon footer__social-icon_twitch"></a>
            </div>
        </nav>

        <hr>
        <div class="footer__info">
            <div class="footer__copy">
                © 2018 Outpost Games, Inc. All Rights Reserved
            </div>
            <div class="footer__legal">
                <a href="#" class="footer__legal-link">Privacy Policy</a>

                <a href="#" class="footer__legal-link"><span>|</span>Terms of Service<span>|</span></a>
                
                <a href="#" class="footer__legal-link">Code of Conduct</a>
            </div>
        </div>
    </div>
</footer>
<script src="/bootstrap.bundle.js"></script>
<script src="/swiper-bundle.min.js"></script>
<script type="module" src="/src/main.js"></script>
</body>

</html>