<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/img/logo.svg" />
  <link rel="stylesheet" href="/src/bootstrap.css">
  <link rel="stylesheet" href="/src/hamburgers.css">
  <link rel="stylesheet" href="/src/swiper-bundle.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SOS | Game Store</title>
</head>

<body>
  <svg class="icon-sprite icon-sprite_hidden">
    <symbol id="btn-line" width="2" height="26" viewBox="0 0 2 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.5" d="M0.986816 0.825195L1.1875 24.7741" stroke="#1A1917" stroke-width="0.873968"
        stroke-linecap="round" />
    </symbol>
    <symbol id="scroll-down" width="23" height="11" viewBox="0 0 23 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z" stroke="white" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" />
    </symbol>
  </svg>