<section id="quotes" class="bg-screen quotes">
    <div class="container">
        <div class="quotes__content">
            <h3 class="quotes__subtitle">What people think?</h3>
            <h1 class="quotes__title">Press quotes</h1>
            <p class="quotes__description">Our goal is to create a product and service that you’re satisfied with and
                use it every day. This is why
                we’re constantly working on our services to make it better every day and really listen to what our users
                has to say.</p>
            <a href="#" class="btn-primary btn-md">Read more testimonials</a>
        </div>

        <div class="quotes__cards-list">
            <div class="quotes__card">
                <div class="quotes__author-info">
                    <div class="quotes__avatar">
                        <img src="/img/quotes-avatar-1.jpg" alt="avatar">
                    </div>
                    <div class="quotes__author-about">
                        <h3 class="quotes__author-name">Evan Lahti</h3>
                        <p class="quotes__author-role">PC Gamer</p>
                    </div>
                </div>
                <p class="quotes__author-text">One of my gaming highlights of the year</p>
                <time class="quotes__date">October 18, 2018</time>
            </div>

            <div class="quotes__card">
                <div class="quotes__author-info">
                    <div class="quotes__avatar">
                        <img src="/img/quotes-avatar-2.jpg" alt="avatar">
                    </div>
                    <div class="quotes__quthor-about">
                        <h3 class="quotes__author-name">Jada Griffin </h3>
                        <p class="quotes__author-role">Nerdreactor</p>
                    </div>
                </div>
                <p class="quotes__author-text">The next big thing in the world of streaming and survival
                    games.</p>
                <time class="quotes__date">December 21, 2018</time>
            </div>

            <div class="quotes__card">
                <div class="quotes__author-info">
                    <div class="quotes__avatar">
                        <img src="/img/quotes-avatar-3.jpg" alt="avatar">
                    </div>
                    <div class="quotes__author-about">
                        <h3 class="quotes__author-name">Aaron Williams </h3>
                        <p class="quotes__author-role">Uproxx</p>
                    </div>
                </div>
                <p class="quotes__author-text">Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is
                    Ridiculous.</p>
                <time class="quotes__date">December 24, 2018</time>
            </div>
        </div>
    </div>
</section>