<section id="requirements" class="bg-screen requirements">
    <div class="container">
        <div class="requirements__content">
            <h3 class="requirements__subtitle">Can My Computer Run this game?</h3>
            <h1 class="requirements__title">system requirements</h1>
        </div>
        <div class="requirements__table">
            <svg class="requirements__frame" width="575" height="403" viewBox="0 0 575 403" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.3">
                    <path
                        d="M1 401.688V1L574.198 1.0019V393.04L564.581 401.688H151.032L146.223 393.04H73.1307L67.3602 401.688H1Z"
                        stroke="#979797" stroke-linecap="square" />
                    <path d="M1.64722 252.382L574.422 252.382" stroke="#979797" stroke-linecap="square" />
                    <path d="M1.57104 126.785L574.422 126.785" stroke="#979797" stroke-linecap="square" />
                    <path d="M278.034 1.49902L278.034 252.382" stroke="#979797" stroke-linecap="square" />
                </g>
            </svg>
            <div class="requirements__row">
                <div class="requirements__col">
                    <h3 class="requirements__name">OS:</h3>
                    <p class="requirements__description">Windows 7 64-bit only<br>(No OSX support at this time)</p>
                </div>
                <div class="requirements__col">
                    <h3 class="requirements__name">Processor:</h3>
                    <p class="requirements__description">Intel Core 2 Duo @ 2.4 GHZ<br>or AMD Athlon X2 @ 2.8 GHZ</p>
                </div>
                <div class="requirements__col">
                    <h3 class="requirements__name">Memory:</h3>
                    <p class="requirements__description">8 GB RAM</p>
                </div>
                <div class="requirements__col">
                    <h3 class="requirements__name">Storage:</h3>
                    <p class="requirements__description">8 GB available space</p>
                </div>
                <div class="requirements__col">
                    <h3 class="requirements__name">Graphics:</h3>
                    <p class="requirements__description">NVIDIA GeForce GTX 660 2GB<br>or AMD Radeon HD 7850 2GB DirectX11</p>
                </div>
            </div>
        </div>
    </div>
</section>